<%- include('../partials/userPartials/header.ejs') %>

<div class="container pt-lg-5">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
      Home
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
      Order Placed
    </span>
  </div>
</div>

<div class="container">
  <div class="text-center">
      <img src="/userAsset/images/postPlaceOrder.png" alt="order placed" width="300px">
  </div>
  <div class="text-center">
      <p style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 30px;">Order Placed Successfully</p>
  </div>
  <div class="text-center" style="margin-bottom: 150px;">
      <a href="/shop" class="btn btn-primary py-3 px-5 my-5">Continue Shopping</a>
  </div>
</div>

<%- include('../partials/userPartials/footer.ejs') %>